<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Use the title from a page's frontmatter if it has one -->
    <title><%= current_page.data.title || "Middleman" %></title>
    <%= stylesheet_link_tag "site" %>
    <%= javascript_include_tag "site" %>
  </head>
  <body>
    <header>
      Recursively Fabulous
    </header>
    <div class="row">
      <article>

      <%= yield %>

      </article>
      <nav class="main-nav">
        <% urls = [
          # '/index.html',
          '/cv.html',
          '/bullet_journal_supplies.html',
          '/quotes.html',
          '/conversion_and_jewish_stuff_notes.html',
        ]
        %>
        <ul>
          <% urls.map { | url | sitemap.find_resource_by_path url }.each do | page | %>
            <li><%= link_to page.data['title'], page.url %></li>
          <% end %>
        </ul>
      </nav>
    </div>
  </body>
</html>
